# Cleaning and Preparing Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_missing = pd.read_excel(io='../data/sample_data.xls', sheet_name='MissingData')
df_missing.head(3)

      A   B    C
0  38.0   I  1.0
1  40.0  II  2.0
2  35.0   I  NaN

In [9]:
df_missing.notnull()# isnull()
df_missing.isnull().sum().sum() #how many missing members in the entire document

13

In [11]:
# deal with missing values
df_missing.fillna(42, inplace=True) # other techniques
df_missing.head(4)

      A   B     C
0  38.0   I   1.0
1  40.0  II   2.0
2  35.0   I  42.0
3  42.0  II   4.0

In [19]:
# we will scatter some missingvalues, then resolve
df_missing.iloc[:2,0] = np.nan # :2 will operate on 2 rows. 0 will operate on column 0
df_missing.iloc[:3,1] = np.nan
df_missing.head(5)
df_missing.bfill().drop_duplicates().head(2) # NB not inplace
# df_missing

      A   B    C
0  35.0  II  1.0
1  35.0  II  2.0

# Cleansing string/numeric data

In [35]:
# this data set has no dates, so parse_dates is not requried
# ...but its good practice
df_SPX = pd.read_csv('../Data/SPX.csv', parse_dates=True, index_col='Symbol')
df_SPX.dtypes

Name               object
Sector             object
Price             float64
Price/Earnings    float64
Earnings/Share    float64
52 Week High      float64
52 Week Low       float64
dtype: object

In [58]:
# Details around [], loc[] and iloc[]
# .loc ONLY operates on the INDEX column - it locates row(s) from their INDEX column name
df_SPX['Name'] # just return (as a sseries) the columns called 'Name' (which is a Pandas series)
df_SPX[['Name']] # return a df of the ONE item in hte list
# df_SPX[ ['Name', 'Sector'] ] # we can pick and choose which columns (in what order) we need to see
# what about loc - pick ROWS by name
# df_SPX.loc['MMM'] # returns a series
whichCols = ['Name','Sector']
subset = df_SPX.loc[['MMM', 'AOS', 'ABT']]
subset[whichCols]
# same as...but maybe easier to read
df_SPX.loc[['MMM', 'AOS', 'ABT']][['Name','Sector']]

                       Name       Sector
Symbol
MMM              3M Company  Industrials
AOS         A.O. Smith Corp  Industrials
ABT     Abbott Laboratories  Health Care

In [67]:
# so what about iloc
# iloc is index-location, it works PRIMARILY on the index BY NUMBER
df_SPX # it still has an ordinal notion to the index 0, 1, 2 etc.
# .loc[start:stop:step] # NOT stop-before
df_SPX.iloc[4:10:2] # [start:stop-before:step]
df_SPX.iloc[2:4, 1] # we CAN specify which columns, by their column index from zero

Symbol
ABT     Health Care
ABBV    Health Care
Name: Sector, dtype: object

In [23]:
# save to excel
writer = pd.ExcelWriter('SPX.xlsx', engine='xlsxwriter')
df_SPX.to_excel(writer)
# close the write
writer.save()

# The following content was demonstrated

In [25]:
df_SPX = pd.read_csv('../Data/SPX2.csv', index_col='Date', parse_dates=True)
# convert price to a numeric
df_SPX['Price'] = pd.to_numeric(df_SPX['Price'].str.replace(',', ''))
df_SPX.head()
df_SPX.dtypes

Price       float64
Open         object
High         object
Low          object
Change %     object
dtype: object

In [26]:
# save to excel
writer = pd.ExcelWriter('../Data/SPX.xlsx', engine='xlsxwriter')
df_SPX.to_excel(writer)
# close the write
writer.save()