# Cleaning and Preparing Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_missing = pd.read_excel(io='../data/sample_data.xls', sheet_name='MissingData')
df_missing.head(3)

      A   B    C
0  38.0   I  1.0
1  40.0  II  2.0
2  35.0   I  NaN

In [9]:
df_missing.notnull()# isnull()
df_missing.isnull().sum().sum() #how many missing members in the entire document

13

In [11]:
# deal with missing values
df_missing.fillna(42, inplace=True) # other techniques
df_missing.head(4)

      A   B     C
0  38.0   I   1.0
1  40.0  II   2.0
2  35.0   I  42.0
3  42.0  II   4.0

In [19]:
# we will scatter some missingvalues, then resolve
df_missing.iloc[:2,0] = np.nan # :2 will operate on 2 rows. 0 will operate on column 0
df_missing.iloc[:3,1] = np.nan
df_missing.head(5)
df_missing.bfill().drop_duplicates().head(2) # NB not inplace
# df_missing

      A   B    C
0  35.0  II  1.0
1  35.0  II  2.0

# Cleansing string/numeric data

In [22]:
# this data set has no dates, so parse_dates is not requried
# ...but its good practice
df_SPX = pd.read_csv('../Data/SPX.csv', parse_dates=True, index_col='Symbol')
df_SPX.dtypes

Name               object
Sector             object
Price             float64
Price/Earnings    float64
Earnings/Share    float64
52 Week High      float64
52 Week Low       float64
dtype: object

In [23]:
# save to excel
writer = pd.ExcelWriter('SPX.xlsx', engine='xlsxwriter')
df_SPX.to_excel(writer)
# close the write
writer.save()