In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
# read in some data into separate DataFrames
df_GOOGL = pd.read_excel('../Data/market_data.xls', parse_dates=True, sheet_name='GOOGL', index_col='Date')
df_IBM = pd.read_excel('../Data/market_data.xls', parse_dates=True, sheet_name='IBM', index_col='Date')
df_MSFT = pd.read_excel('../Data/market_data.xls', parse_dates=True, sheet_name='MSFT', index_col='Date')

In [ ]:
# see the separate DataFrames
print( df_GOOGL.head(2) ) # not a great idea
print( df_IBM.head(2) ) # probably better just to use separate cells!!
# only the last item is seen in the ouput
print( df_MSFT.head(2) )

In [21]:
df_GOOGL.head(2)

                 High        Low       Open      Close    Volume  Adj Close
Date
2004-08-19  52.082081  48.028027  50.050049  50.220219  44659000  50.220219
2004-08-20  54.594593  50.300301  50.555557  54.209209  22834300  54.209209

# Handling Dates and Times

In [30]:
from datetime import datetime
df_GOOGL.loc['2004'] # revisit .loc
df_GOOGL['2013 march 01' : '2013 APR 01'] # this gives us from...to rows
# possible mis-understanding
# df_GOOGL['2013 March 01'] # fail - must use loc
df_GOOGL.loc['2013 March 01']

High         4.039740e+02
Low          3.984735e+02
Open         3.992993e+02
Close        4.034985e+02
Volume       4.346400e+06
Adj Close    4.034985e+02
Name: 2013-03-01 00:00:00, dtype: float64

In [36]:
df_GOOGL[['Open', 'High']].mean() # or mean() or min() or...

Open    1.912809e+06
High    1.929825e+06
dtype: float64

In [37]:
df_GOOGL.describe()

,High,Low,Open,Close,Volume,Adj Close
count,3866.000000,3866.000000,3866.000000,3866.000000,3.866000e+03,3866.000000
mean,499.178635,490.026346,494.777298,494.699757,7.126476e+06,494.699757
std,344.662150,339.355516,342.031249,342.153210,8.002788e+06,342.153210
min,50.920921,48.028027,49.644646,50.055054,5.206000e+05,50.055054
25%,240.447952,235.526779,237.887894,237.753998,1.926375e+06,237.753998
50%,323.383392,316.026031,320.117615,320.152649,4.411200e+06,320.152649
75%,742.922501,730.749985,737.809982,735.844986,9.127600e+06,735.844986
max,1364.329956,1350.770020,1363.099976,1362.469971,8.215110e+07,1362.469971

# Combining DataFrames

In [46]:
df_Vol = pd.DataFrame()
df_Vol['IBM'] = df_IBM['Volume']
df_Vol['MSoft'] = df_MSFT['Volume']
df_Vol['Google'] = df_GOOGL['Volume']
df_Vol
# see about this new df
df_Vol.describe()
df_Vol.shape
df_Vol.size
df_Vol.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
IBM,5028.0,6.114921e+06,3.313614e+06,1027500.0,3868675.0,5291300.0,7429350.0,41207300.0
MSoft,5028.0,5.535729e+07,3.159907e+07,7425600.0,33253050.0,50631850.0,68961325.0,591052200.0
Google,3866.0,7.126476e+06,8.002788e+06,520600.0,1926375.0,4411200.0,9127600.0,82151100.0

In [54]:
# loc and iloc
df_Vol.iloc[:6, 2] # [:n, m] :n is how many rows and m is which column index

Date
2000-01-03    10347700
2000-01-04     8227800
2000-01-05    12733200
2000-01-06     7971900
2000-01-07    11856700
2000-01-10     8540500
Name: IBM, dtype: int64

In [61]:
# Sorting
other_DF = df_Vol.sort_values(by='IBM', ascending=False)
other_DF # but this can be resource intense!!
df_Vol
# alternative - sort in place
df_Vol.sort_values(by='IBM', ascending=False, inplace=True)
df_Vol

                 IBM      MSoft      Google
Date
2002-04-08  41207300   73389600         NaN
2007-06-06  30770700   38217500  15757600.0
2017-10-18  30490200   13300700   1279800.0
2000-10-18  29777800  110536400         NaN
2005-04-15  27906300  100251600  23131600.0
...              ...        ...         ...
2003-12-26   1408500   12076900         NaN
2016-12-27   1397500   11763200    976000.0
2019-12-24   1202100    8989200    673400.0
2017-11-24   1193000    7425600    824600.0
2009-11-17   1027500   75648900   3829500.0

[5028 rows x 3 columns]