In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
# read in some data into separate DataFrames
df_GOOGL = pd.read_excel('../Data/market_data.xls', sheet_name='GOOGL', index_col='Date')
df_IBM = pd.read_excel('../Data/market_data.xls', sheet_name='IBM', index_col='Date')
df_MSFT = pd.read_excel('../Data/market_data.xls', sheet_name='MSFT', index_col='Date')

In [13]:
# see the separate DataFrames
df_GOOGL
df_IBM
df_MSFT

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,59.312500,56.000000,58.687500,58.281250,53228400,37.495686
2000-01-04,58.562500,56.125000,56.781250,56.312500,54119000,36.229057
2000-01-05,58.187500,54.687500,55.562500,56.906250,64059600,36.611080
2000-01-06,56.937500,54.187500,56.093750,55.000000,54976600,35.384666
2000-01-07,56.125000,53.656250,54.312500,55.718750,62013600,35.847076
...,...,...,...,...,...,...
2019-12-19,155.770004,153.750000,154.000000,155.710007,24958900,155.710007
2019-12-20,158.490005,156.289993,157.350006,157.410004,53477500,157.410004
2019-12-23,158.119995,157.270004,158.119995,157.410004,17718200,157.410004
2019-12-24,157.710007,157.119995,157.479996,157.380005,8989200,157.380005
2019-12-26,158.729996,157.399994,157.559998,158.669998,14520600,158.669998